In [5]:
import pandas as pd
import pyarrow.dataset as ds

In [7]:
# Import FIP Dataset

s3_path = (
    "s3://m3-intel-hub-dp-us-east-1-517292-prod/"
    "publish/data-product/financial_inventory_projection_report_network_update/"
)

dataset = ds.dataset(
    s3_path,
    format="parquet",
    partitioning="hive" 
)

table = dataset.to_table(
    filter=(
        (ds.field("snapshot_date") >= "2025-12-01") &
        (ds.field("date") == "202612")
    )
)

df_fip = table.to_pandas()
df_fip.head()

,material,plant,date,quantity,total_cost,concost_source,unit_of_measure,cost_per_unit,source,corporate_brand,material_type,development_lifecycle_status,enterprise_category,enterprise_sub_category,dosage_form_parent,corp_brand_id,network_or_business_unit,snapshot_type,snapshot_date
0,1217818,1622,202612,0.0,0.0,missing,None,NaN,sap,Tempra,RAW,COMMERCIAL,RAW MATERIAL,RAW MATERIAL,nan,04506130,PHARMA,friday,2025-12-05
1,1231993,1557,202612,0.0,0.0,missing,None,NaN,sap,Aripiprazole,HALB,COMMERCIAL,OTHER PROCESS MATERIALS,OTHER PROCESS MATERIALS,nan,02701577,PHARMA,friday,2025-12-05
2,1416303,1721,202612,0.0,0.0,concost dp,ST,1.321201,sap,Metformin,FIN,COMMERCIAL,MARKET UNIT,SINGLE PRODUCT,TABLET,00221118,PHARMA,friday,2025-12-05
3,1335676,1487,202612,990.0,0.0,missing,None,NaN,sap,nan,FIN,CLINICAL,OTHER PROCESS MATERIALS,OTHER PROCESS MATERIALS,nan,None,PHARMA,friday,2025-12-05
4,1345028,1487,202612,32.0,0.0,missing,None,NaN,sap,nan,FIN,CLINICAL,OTHER PROCESS MATERIALS,OTHER PROCESS MATERIALS,nan,None,PHARMA,friday,2025-12-05