In [5]:
import pandas as pd
import pyarrow.dataset as ds

In [6]:
# Import FIP Dataset

s3_path = (
    "s3://m3-intel-hub-dp-us-east-1-517292-prod/"
    "publish/data-product/financial_inventory_projection_report_network_update/"
)

dataset = ds.dataset(
    s3_path,
    format="parquet",
    partitioning="hive" 
)

table = dataset.to_table(
    filter=(
        (ds.field("snapshot_date") == "2026-01-23") &
        (ds.field("date") == "202612")
    )
)

df_fip = table.to_pandas()
df_fip.head()

,material,plant,date,quantity,total_cost,concost_source,unit_of_measure,cost_per_unit,source,corporate_brand,material_type,development_lifecycle_status,enterprise_category,enterprise_sub_category,dosage_form_parent,corp_brand_id,network_or_business_unit,snapshot_type,snapshot_date
0,1279012,1721,202612,0.0,0.0,missing,None,NaN,sap,Cefepime,PACK,nan,nan,nan,nan,02601270,PHARMA,friday,2026-01-23
1,1192660A1,1610,202612,0.0,0.0,missing,None,NaN,sap,All Other Pharmaceut,PACK,nan,nan,nan,nan,00201790,PHARMA,friday,2026-01-23
2,1192764A3,1610,202612,0.0,0.0,missing,None,NaN,sap,Carboplatin,PACK,nan,nan,nan,nan,03301420,PHARMA,friday,2026-01-23
3,1279202,1721,202612,0.0,0.0,missing,None,NaN,sap,Metformin,PACK,nan,nan,nan,nan,00221118,PHARMA,friday,2026-01-23
4,1192867A4,1610,202612,0.0,0.0,missing,None,NaN,sap,Didanosine,PACK,nan,nan,nan,nan,02201381,PHARMA,friday,2026-01-23